@using FindMyFood.Data
@using FindMyFood.Models
@model FindMyFood.Models.AccountViewModels.LoginViewModel
@inject UserManager<ApplicationUser> UserManager
@inject ApplicationDbContext _context

@{
    var user = await UserManager.GetUserAsync(User);
    var name = _context.Restaurant.SingleOrDefault(restaurant => restaurant.Id == user.RestaurantId)?.Name;
    ViewData["Title"] = name;
}

<app asp-prerender-module="ClientApp/dist/main-server">
    <div class="loading">
        <!-- We make this div spin -->
        <div class="spinner">
            <!-- Mask of the quarter of circle -->
            <div class="mask">
                <!-- Inner masked circle -->
                <div class="maskedCircle"></div>
            </div>
        </div>
    </div>
</app>

<script src="~/dist/vendor.js" asp-append-version="true"></script>

@section scripts {
    <script src="~/dist/main-client.js" asp-append-version="true"></script>
}