@{
    ViewData["Title"] = "Find My Food";
}

<header class="masthead">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-lg-7 my-auto">
                <div class="header-content mx-auto">
                    <h1 class="mb-5">Witaj na Find My Food!</h1>
                    <h2 class="mb-5">Nie zapomnij sprawdzić naszej aplikacji by znajdować restauracje blisko Ciebie jeszcze szybciej!</h2>

                    <a class="nav-link btn btn-primary btn-xl" asp-area="" asp-controller="Account" asp-action="Register">Rejestracja</a>
                    <hr/>
                    <a class="nav-link btn btn-secondary btn-xl" asp-area="" asp-controller="Account" asp-action="Login">Logowanie</a>
                </div>
            </div>
            <div class="col-lg-5 my-auto">
                <div class="device-container">
                    <div class="device-mockup galaxy_s5 portrait black">
                        <div class="device">
                            <div class="screen">
                                <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                <img src="~/images/FindMyFoodApp.png" class="img-fluid" alt="">
                            </div>
                            <div class="button">
                                <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="download bg-primary text-center" id="download">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <h2 class="section-heading">Dzięki naszej aplikacji nigdy nie rozstaniesz się z tanim jedzeniem!</h2>
                <p>Nasza aplikacja jest dostępna na Androida! Ściągnij i zacznij już dziś!</p>
                <div class="badges">
                    <a class="badge-link" href="#">
                        <img src="~/templates/app/img/google-play-badge.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features" id="features">
    <div class="container">
        <div class="section-heading text-center">
            <h2>Miliony restauracji, Miliony promocji</h2>
            <p class="text-muted">Jesteś właścicielem lokalu i potrzebujesz reklamy? Pomożemy Ci znaleźć nowych klientów!</p>
            <hr>
        </div>
        <div class="row">
            <div class="col-lg-4 my-auto">
                <div class="device-container">
                    <div class="device-mockup galaxy_s5 portrait white">
                        <div class="device">
                            <div class="screen">
                                <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                <img src="~/images/FindMyFoodApp.png" class="img-fluid" alt="">
                            </div>
                            <div class="button">
                                <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 my-auto">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="feature-item">
                                <i class="icon-screen-smartphone text-primary"></i>
                                <h3>Aplikacja mobilna</h3>
                                <p class="text-muted">Twój lokal będzie widoczny na wszystkich urządzeniach!</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="feature-item">
                                <i class="icon-camera text-primary"></i>
                                <h3>Prześlij zdjęcia</h3>
                                <p class="text-muted">Pokaż jak ładnie jest w Twojej restauracji!</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="feature-item">
                                <i class="icon-present text-primary"></i>
                                <h3>Dodawaj promocje</h3>
                                <p class="text-muted">Wystarczy, że dodasz je u nas na stronie, a my powiadomimy wszystkich w pobliżu!</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="feature-item">
                                <i class="icon-lock-open text-primary"></i>
                                <h3>Open Source</h3>
                                <p class="text-muted">Since this theme is MIT licensed, you can use it commercially!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="cta">
    <div class="cta-content">
        <div class="container">
            <h2>Nie czekaj.<br>Zarejestruj się już dziś.</h2>
            <a href="#page-top" class="btn btn-outline btn-xl js-scroll-trigger">Zaczynajmy!</a>
        </div>
    </div>
    <div class="overlay"></div>
</section>
<section class="contact bg-primary" id="contact">
    <div class="container">
        <h2>
            Dzięki nam
            <i class="fa fa-heart"></i>
            restauracje w pobliżu!
        </h2>
        <ul class="list-inline list-social">
            <li class="list-inline-item social-twitter">
                <a href="#">
                    <i class="fa fa-twitter"></i>
                </a>
            </li>
            <li class="list-inline-item social-facebook">
                <a href="#">
                    <i class="fa fa-facebook"></i>
                </a>
            </li>
            <li class="list-inline-item social-google-plus">
                <a href="#">
                    <i class="fa fa-google-plus"></i>
                </a>
            </li>
        </ul>
    </div>
</section>