<h1>Dodaj promocję</h1>
<div class="row">
    <form method="post" (ngSubmit)="onSubmit()" [formGroup]="myform">
        <div class="col-md-5 float-left">
            <section class="section-no-bottom">
                <h3>Podstawowe informacje</h3>
            </section>
            <hr class="invisible" />
            <div class="form-group" [ngClass]="{
  'has-error': myform.controls.Description.invalid && myform.controls.Description.dirty,
  'has-success': myform.controls.Description.valid && myform.controls.Description.dirty
}">
                <label>Opis</label>
                <input type="text" class="form-control"
                       formControlName="Description">
                <div class="text-danger" *ngIf="myform.controls.Description.errors && (myform.controls.Description.dirty || myform.controls.Description.touched)">
                    <p *ngIf="myform.controls.Description.errors.required">Opis jest wymagany</p>
                    <p *ngIf="myform.controls.Description.errors.minlength">Opis musi mieć {{myform.controls.Description.errors.minlength.requiredLength}} znaków</p>
                </div>
            </div>
            <div class="form-group" [ngClass]="{
  'has-error': myform.controls.Tags.invalid && myform.controls.Tags.dirty,
  'has-success': myform.controls.Tags.valid && myform.controls.Tags.dirty
}">
                <label>Tagi</label>
                <input type="text" class="form-control" formControlName="Tags">
                <div class="text-danger" *ngIf="myform.controls.Tags.errors && (myform.controls.Tags.dirty || myform.controls.Tags.touched)">
                    <p *ngIf="myform.controls.Tags.errors.required">Tagi są wymagane</p>
                    <p *ngIf="myform.controls.Tags.errors.pattern">Tagi podaje się po przecinku. Minimum trzy tagi. Przykład: "tag1, ta g2, tag3". Białe znaki są dozwolone tylko w środku tagu.</p>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-info btn-fill btn-wd"
                        type="submit"
                        [disabled]="myform.invalid"
                        id="submit"
                        value="Submit">
                    Stwórz
                </button>
            </div>
        </div>

        <div class="col-md-5">
            <section class="section-no-bottom">
                <h3>Przedział czasowy</h3>
            </section>
            <hr class="invisible" />
            <div class="form-group">
                <label for="period">Powtarzanie</label>
                <select class="form-control" id="period" required formControlName="repetitionMode" value="{{periods[0].key}}" (change)="updateCalendar($event.target.value)">
                    <option *ngFor="let per of periods" [value]="per.key">{{per.value}}</option>
                </select>
            </div>
            <div id="timePeriodForm">
                <div *ngIf="repetitionChoosen!='nolimit'">
                    <div class="form-group" *ngIf="repetitionChoosen=='once'">
                        <label>Data początkowa i końcowa</label>
                        <input class="form-control" id="dateRangeId" formControlName="DateRange" type="text" placeholder="Wybierz zakres dat">
                    </div>
                    <div class="form-group" *ngIf="repetitionChoosen=='singledays'">
                        <label>Dni tygodnia</label>
                        <ng-multiselect-dropdown class="form-control"
                                                 [data]="weekDays"
                                                 formControlName="daysInWeek"
                                                 [settings]="dropdownSettingsMulti">
                        </ng-multiselect-dropdown>
                    </div>
                    <div class="form-group" *ngIf="repetitionChoosen=='daily'">
                        <label>Dzień tygodnia</label>
                        <ng-multiselect-dropdown class="form-control"
                                                 [data]="weekDays"
                                                 formControlName="daysInWeek"
                                                 [settings]="dropdownSettingsSingle">
                        </ng-multiselect-dropdown>
                    </div>
                    <div *ngIf="repetitionChoosen=='once' || repetitionChoosen=='daily' || repetitionChoosen=='weekly'">
                        <div class="form-group">
                            <label>Godzina początkowa</label>
                            <input class="form-control" id="timeStartId" formControlName="StartTime" type="text" placeholder="Godzina początkowa">
                        </div>
                        <div class="form-group">
                            <label>Godzina końcowa</label>
                            <input class="form-control" id="timeEndId" formControlName="EndTime" type="text" placeholder="Godzina końcowa">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-1">
            <hr class="invisible" />
            <hr class="invisible" />
            <hr class="invisible" />
            <hr class="invisible" />
            <hr class="invisible" />
            <hr class="invisible" />
            <hr class="invisible" />
            <hr class="invisible" />
            <hr class="invisible" />
            <hr class="invisible" />
            <hr class="invisible" />
            <hr class="invisible" />
            <hr class="invisible" />
            <hr class="invisible" />
            <hr class="invisible" />
            <hr class="invisible" />
            <hr class="invisible" />
            <hr class="invisible" />
            <hr class="invisible" />
        </div>
    </form>
</div>